@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Pacifico&family=Roboto:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
  margin: 0 auto;
}
p {
  line-height: 1.25rem;
}

a {
  text-decoration: none;
  color: #ddd;
}

.cont {
  max-width: 75%;
  margin: 20px auto;
}

.l-heading {
  padding: 30px 0;
  color: #333;
  font-size: 48px;
  font-weight: 700;
  margin: 5rem 0rem 3rem 0rem;
}

.l-heading::after {
  content: "";
  height: 3px;
  width: 80%;
  display: block;
  background-color: #ffbb00;
  margin: 10px auto;
}
/* -----------------------nav bar--------------- */
#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 7rem;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

#nav-bar .links {
  list-style: none;
  padding: 0.75rem;
  display: inline-block;
  font-weight: 400;
  border-radius: 5px;
}

.l-text {
  color: #ffbb00;
  font-family: "Pacifico", cursive;
  font-weight: 300;
  font-size: 28px;
}

/* -----------------------------------------cover section------------------------- */

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 91vh;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/emile-perron-xrVDYZRGdw4-unsplash.jpg) center center/cover
      no-repeat;
}
.cover-text {
  display: flex;
  flex-direction: column;
}
.cover h1 {
  font-size: 48px;
  color: #ddd;
}
.cover p {
  color: #ddd;
  text-align: right;
}

/* ---------------------------------------about me section------------------------------- */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a-con h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.about-image {
  flex-basis: 45%;
  margin-right: 4rem;
  padding-left: 0px;
  height: 35rem;
}

.about-me {
  flex-basis: 48%;
}
.about-me p {
  margin-top: 30px;
  text-align: left;
  font-size: 0.98rem;
}
.about-image img {
  background: cover center/cover no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.a-con .about-me a {
  display: inline-block;
  margin-top: 35px;
  background: #333;
  padding: 5px 15px;
  border-radius: 5px;
}

/* ----------------------------------------------------------------skills section--------------------------------------- */

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-sets {
  width: 100%;
}

.skill-type h3 {
  text-align: center;
  padding: 5px;
}
.soft-skills {
  margin-top: 4.5rem;
}
.skill-type h3::after {
  content: "";
  height: 3px;
  width: 5%;
  display: block;
  background-color: #333;
  margin: 10px auto;
}
.skill {
  margin-bottom: 1.5rem;
}

.skill-name {
  margin: 0 0 0.25rem 0.2rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}

.bar {
  color: #ddd;
  text-align: center;
  background: #333;
  border-radius: 5px;
}

.c-bar {
  width: 90%;
}
.cp-bar {
  width: 85%;
}
.java-bar {
  width: 90%;
}

.py-bar {
  width: 55%;
}

.html-bar {
  width: 90%;
}

.css-bar {
  width: 90%;
}

.sql-bar {
  width: 75%;
}

.git-bar {
  width: 70%;
}

.ms-bar {
  width: 80%;
}

.ps-bar {
  width: 45%;
}

.ai-bar {
  width: 30%;
}

/* ---------------------------------------------------projects section-------------------------------- */

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2.5rem;
  row-gap: 3rem;
}

.project {
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.15);
  flex-basis: 30%;
  height: 450px;
  border-radius: 5px;
  padding: 0.75rem;
}

.project-img {
  border-radius: 5px;
  height: 80%;
  overflow: hidden;
}
.project-img img {
  background: cover center/cover no-repeat;
  width: 100%;
  height: 100%;
}

.project-text {
  text-align: center;
  margin-top: 20px;
  height: 18%;
}

.project-text p {
  font-size: 0.75rem;
}
